{%extends "base.html" %}
{% block content %}
<div >
              <form    method="post">
                      {{ form.csrf_token }}
                    <div style= "text-align: center">  
                      {{form.lsi.label}}
                        {{form.lsi}}
                        {{form.vectorial.label}}
                        {{form.vectorial}}
                        {{form.k.label}}
                        {{form.k}}
                        {{form.rank_cant.label}}
                        {{form.rank_cant}}
                    </div> 
                      <div class="input-group-btn" style= "text-align: center">
                             
                              {{ form.submit(class_ = "btn btn-default btn-lg" ) }}
                          
                  </div>
                 </div>
              </form>
          </div>
{%endblock%} 