<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charlotte Engine</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
</head>

<body style="background-image: url('../static/img/globe.jpg')">
        <nav class="navbar navbar-default custom-header" style="background-color: black;">
                <div class="container-fluid">
                    <div class="navbar-header"><a class="navbar-brand navbar-link" href="/index">Corlota Inc.</a>
                        <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar-collapse">
                        <ul class="nav navbar-nav links">
                            <li role="presentation"><a href="/index">Home</a></li>
                            <li role="presentation"><a href="/search">Search </a></li>
                            <li role="presentation"><a href="/statistics">Statistics </a></li>
                            <li role="presentation"><a href="/compare">Compare </a></li>
                            <li role="presentation"><a href="/test_case_results">Test Case</a></li>
                            <li role="presentation"><a href="/relevants">Relevant</a></li>

                            

                            <!-- <li role="presentation"><a href="#" class="custom-navbar"> Roles<span class="badge">new</span></a></li> -->
                        </ul>
                    </div>
                </div>
            </nav>
    <div class="container">
        <div class="jumbotron">
            <!-- <div> -->
                <div class="col-md-12">
                    <h1 class="text-nowrap text-uppercase text-center"> Charlotte </h1></div>
            <!-- </div> -->
        </div>
    </div>
    <div class="container">
        <div class="jumbotron">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-xs-right">Query</th>

                        <th class="text-xs-right">Precision</th>
                        <th class="text-xs-right">Recall</th>
                        <th class="text-xs-right">F-measure</th>
                        <th class="text-xs-right">F1-measure</th>
                        <th class="text-xs-right">R-Precicion</th>
                    </tr>
                </thead>
                <tbody>
                    {% for query in measures%}
                    <tr>
                        <td>{{query}}</td>
                        <td>{{measures[query][-1][0]}}</td>
                        <td>{{measures[query][-1][1]}}</td>
                        <td>{{measures[query][-1][2]}}</td>
                        <td>{{measures[query][-1][3]}}</td>
                        <td>{{measures[query][-1][4]}}</td>                        
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>

</body>

</html>